.login-container {
    position: relative;
    height: 100vh;
    background: -webkit-linear-gradient(top, #fff6f2 0, #91caff 120%);
    .content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
    }
    .info-footer {
        position: absolute;
        bottom: 30px;
        left: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 60px;
        line-height: 14px;
        transform: translateX(-50%);
        .iconfont {
            margin-right: 3px;
        }
        .info-beian {
            display: flex;
            align-items: center;
        }
    }
}
