.departmentManagement-container {
  display: flex;
  width: 1100px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  border-radius: 2px;
  margin-top: 20px;

  .wrap-nav {
    width: 247px;
    border-right: 1px solid #e8e8e8;
    .title-box {
      display: block;
      padding: 20px 0px 10px 0px;
      color: rgba(0, 0, 0, 0.45);
    }
    .warp-member {
      height: 175px;
    }
    .item-member {
      height: 40px;
      margin-top: 4px;
      overflow: hidden;
      padding-left: 10px;
      font-size: 14px;
      line-height: 40px;
      color: #333;
      cursor: pointer;

      .item-member-icon {
        font-size: 20px;
      }

      .title {
        padding-left: 12px;
      }
    }
    .item-member:hover {
      color: #1890ff;
    }

    .item-member-active {
      background-color: #e6f7ff;
      border-right: 3px solid #1890ff;
      color: #1890ff;
    }

    .warp-menu {
      height: calc(100vh - 460px);
    }
  }

  .wrap-content {
    flex: 1;
    padding-left: 24px;
  }
}
