.user-popover {
    padding: 4px 0 !important;
    .options {
        .item {
            display: flex;
            align-items: center;
            height: 36px;
            padding: 0 20px;
            cursor: pointer;
            .switch-button {
                margin-right: 4px;
                color: #f56c6c;
            }
            &:hover {
                background-color: #e6f7ff;
            }
        }
    }
}
.user-popover-component {
    :global {
        .@{ant-prefix}-popover-inner-content {
            padding: 8px 0;
        }
    }
}
